<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .indent {
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 20px;
        }
    </style>
    <title></title>
</head>

<body>
<div th:replace="general :: page-header"> </div>

<div class="indent">
    <h4 th:text="${offer.getContractType()}"></h4>
    <a th:if="${offer.getOfferedBy() != null}" th:href="'/client?clientId=' + ${offer.getOfferedBy().getId()}">
        <span th:text="'Offered by: ' + ${offer.getOfferedBy().getClientName()}"> </span>
    </a><br>
    <a th:if="${offer.getAddress() != null}" th:text="${offer.getAddress()}"></a>
    <!--edit delete offer button group-->
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <form style="margin-right: 30px" method="get" action="/editOffer">
                <input type="hidden" name="offerId" th:value="${offer.getId()}"/>
                <input type="hidden" name="offeredById" th:value="${offer.getOfferedBy().getId()}"/>
                <button id="editButton" type="submit" class="btn btn-secondary">Edit offer</button>
            </form>
            <form method="post" action="/removeOffer">
                <input type="hidden" name="offerId" th:value="${offer.getId()}"/>
                <button id="deleteButton" type="submit" class="btn btn-secondary">Delete offer</button>
            </form>
        </div>
    </div>
    <!--end of button group-->
    <br>
    <p>Include in search:</p>
    <form id="offerInfo" action="/offer">
        <input type="hidden" id="offerId" name="offerId" th:value="${offer.getId()}">

        <div th:if="${offer.getContractType() != null}">
            <input type="checkbox" id="box-ct" class="toggle-button" th:name="${'includeAttributes__ContractType'}" th:checked="${includeAttributes.getOrDefault('ContractType', true)}" value="True">
            <label for="box-ct" th:text="'Contract type: ' + ${offer.getContractType()}"></label><br>
            <input type="hidden" th:name="${'includeAttributes__ContractType'}" value="False">
        </div>
        <div th:if="${offer.getEstateType() != null}">
            <input type="checkbox" id="box-et" class="toggle-button" th:name="${'includeAttributes__EstateType'}" th:checked="${includeAttributes.getOrDefault('EstateType', true)}" value="True">
            <label for="box-et" th:text="'Estate type: ' + ${offer.getEstateType()}"></label><br>
            <input type="hidden" th:name="${'includeAttributes__EstateType'}" value="False">
        </div>
        <div th:if="${offer.getEstateFacade() != null}">
            <input type="checkbox" id="box-ef" class="toggle-button" th:name="${'includeAttributes__EstateFacade'}" th:checked="${includeAttributes.getOrDefault('EstateFacade', true)}" value="True">
            <label for="box-ef" th:text="'Estate facade: ' + ${offer.getEstateFacade()}"></label><br>
            <input type="hidden" th:name="${'includeAttributes__EstateFacade'}" value="False">
        </div>
        <div th:if="${offer.getBuildingState() != null}">
            <input type="checkbox" id="box-bs" class="toggle-button" th:name="${'includeAttributes__BuildingState'}" th:checked="${includeAttributes.getOrDefault('BuildingState', true)}" value="True">
            <label for="box-bs" th:text="'Building state: ' + ${offer.getBuildingState()}"></label><br>
            <input type="hidden" th:name="${'includeAttributes__BuildingState'}" value="False">
        </div>
        <div th:if="${offer.getLocation() != null}">
            <input type="checkbox" id="box-l" class="toggle-button" th:name="${'includeAttributes__Location'}" th:checked="${includeAttributes.getOrDefault('Location', true)}" value="True">
            <label for="box-l" th:text="'Location: ' + ${offer.getLocation()}"></label><br>
            <input type="hidden" th:name="${'includeAttributes__Location'}" value="False">
        </div>
        <div th:if="${offer.getFloor() != null}">
            <input type="checkbox" id="box-f" class="toggle-button" th:name="${'includeAttributes__Floor'}" th:checked="${includeAttributes.getOrDefault('Floor', true)}" value="True">
            <label for="box-f" th:text="'Floor: ' + ${offer.getFloor()}"></label><br>
            <input type="hidden" th:name="${'includeAttributes__Floor'}" value="False">
        </div>
        <div th:if="${offer.getStartingPrice() != null}">
            <input type="checkbox" id="box-sp" class="toggle-button" th:name="${'includeAttributes__StartingPrice'}" th:checked="${includeAttributes.getOrDefault('StartingPrice', true)}" value="True">
            <label for="box-sp" th:text="'Starting price: ' + ${offer.getStartingPrice()}"></label><br>
            <input type="hidden" th:name="${'includeAttributes__StartingPrice'}" value="False">
        </div>
        <div th:if="${offer.getCommodities() != null}">
            <input type="checkbox" id="box-c" class="toggle-button" th:name="${'includeAttributes__Commodities'}" th:checked="${includeAttributes.getOrDefault('Commodities', true)}" value="True">
            <label for="box-c" th:text="'Commodities (presence): ' + ${conversionService.explainBoolMap(conversionService.getMap(offer.getCommodities()))}"></label><br>
            <input type="hidden" th:name="${'includeAttributes__Commodities'}" value="False">
        </div>
        <div th:if="${offer.getSpace() != null}">
            <input type="checkbox" id="box-s" class="toggle-button" th:name="${'includeAttributes__Space'}" th:checked="${includeAttributes.getOrDefault('Space', true)}" value="True">
            <label for="box-s" th:text="'Room space (square meters): ' + ${conversionService.explainIntMap(conversionService.getMap(offer.getSpace()))}"></label><br>
            <input type="hidden" th:name="${'includeAttributes__Space'}" value="False">
        </div>
        <div th:if="${offer.getTransport() != null}">
            <input type="checkbox" id="box-t" class="toggle-button" th:name="${'includeAttributes__Transport'}" th:checked="${includeAttributes.getOrDefault('Transport', true)}" value="True">
            <label for="box-t" th:text="'Transport distance (min): ' + ${conversionService.explainIntMap(conversionService.getMap(offer.getTransport()))}"></label><br>
            <input type="hidden" th:name="${'includeAttributes__Transport'}" value="False">
        </div>

        <button id="refreshButton" type="submit" class="btn btn-primary">Refresh</button>
    </form>

    <h3 class="text-center">Suitable orders</h3>

    <table class="table table-bordered table-warning">
        <thead class="thead-dark">
        <tr>
            <th scope="col"> Contract type</th>
            <th scope="col"> Estate types (match)</th>
            <th scope="col"> Maximum price</th>
            <th scope="col"> Locations (match)</th>
            <th scope="col"> Maximum transport distance (min)</th>
            <th scope="col"> Commodities (presence)</th>
            <th scope="col"> Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${suitableOrders}" th:object="${order}">
            <td>
                <span th:text="${order.getContractType()}"> </span>
            </td>
            <td>
                <span th:text="${conversionService.explainBoolMap(conversionService.getMap(order.getRequestedEstateTypes()))}"> </span>
            </td>
            <td>
                <span th:text="${order.getPriceMax()}"> </span>
            </td>
            <td>
                <span th:text="${conversionService.explainBoolMap(conversionService.getMap(order.getRequestedLocations()))}"> </span>
            </td>
            <td>
                <span th:text="${conversionService.explainIntMap(conversionService.getMap(order.getRequestedTransportMax()))}"> </span>
            </td>
            <td>
                <span th:text="${conversionService.explainBoolMap(conversionService.getMap(order.getRequestedCommodities()))}"> </span>
            </td>
            <td>
                <form method="get" action="/order">
                    <input type="hidden" name="orderId" th:value="${order.getId()}">
                    <button id="openOrderButton" type="submit" class="btn btn-secondary">Open</button>
                </form>
            </td>
        </tr>

        </tbody>
    </table>

</div>

<div th:replace="general :: site-script"></div>

</body>
</html>