<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Offers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .indent {
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 20px;
        }
    </style>
</head>
<body>

<div th:replace="general :: page-header"></div>

<div class="indent">
    <form method="get" action="/searchOffer">
        <fieldset>
            <label for="ct">Contract type:</label>
            <input type="text" id="ct" name="contractType" th:value="${(contractType == null)? '' : contractType}"><br>

            <label for="bs">Building state:</label>
            <input type="text" id="bs" name="buildingState" th:value="${(buildingState == null)? '' : buildingState}"><br>

            <label for="fmin">Minimum floor:</label>
            <input type="text" id="fmin" name="floorMin" th:value="${(floorMin == null)? '' : floorMin}"><br>

            <label for="fmax">Maximum floor:</label>
            <input type="text" id="fmax" name="floorMax" th:value="${(floorMax == null)? '' : floorMax}"><br>

            <label for="mp">Maximum price:</label>
            <input type="text" id="mp" name="priceMax" th:value="${(priceMax == null)? '' : priceMax}"><br>
        </fieldset><br>

        <fieldset>
            <legend>Estate types:</legend>
            <div th:if="${estateTypes != null}">
                <div th:each="estateType : ${estateTypes.keySet()}">
                    <label th:for="${'id__' + estateType}" th:text="${estateType + ':'}"/>
                    <input type="checkbox" th:name="${'estateTypes__' + estateType}" th:id="${'id__' + estateType}" th:checked="${estateTypes.get(estateType)}" value="True">
                    <input type="hidden" th:name="${'estateTypes__' + estateType}" value="False">
                </div>
            </div>
            <label for="net">New option:</label>
            <input type="text" id="net" name="newEstateType">
            <input id="addEstateType" type="submit" formaction="/searchOffer" value="Add option" class="btn btn-primary">
        </fieldset><br>

        <fieldset>
            <legend>Estate facades:</legend>
            <div th:if="${estateFacades != null}">
                <div th:each="estateFacade : ${estateFacades.keySet()}">
                    <label th:for="${'id__' + estateFacade}" th:text="${estateFacade + ':'}"/>
                    <input type="checkbox" th:name="${'estateFacades__' + estateFacade}" th:id="${'id__' + estateFacade}" th:checked="${estateFacades.get(estateFacade)}" value="True">
                    <input type="hidden" th:name="${'estateFacades__' + estateFacade}" value="False">
                </div>
            </div>
            <label for="nef">New option:</label>
            <input type="text" id="nef" name="newEstateFacade">
            <input id="addEstateFacade" type="submit" value="Add option" class="btn btn-primary">
        </fieldset><br>

        <fieldset>
            <legend>Commodities:</legend>
            <div th:if="${commodities != null}">
                <div th:each="commodity : ${commodities.keySet()}">
                    <label th:for="${'id__' + commodity}" th:text="${commodity + ':'}"/>
                    <input type="checkbox" th:name="${'commodities__' + commodity}" th:id="${'id__' + commodity}" th:checked="${commodities.get(commodity)}" value="True">
                    <input type="hidden" th:name="${'commodities__' + commodity}" value="False">
                </div>
            </div>
            <label for="nc">New option:</label>
            <input type="text" id="nc" name="newCommodity">
            <input id="addCommodity" type="submit" value="Add option" class="btn btn-primary">
        </fieldset><br>

        <fieldset>
            <legend>Minimum room space:</legend>
            <div th:if="${minRoomSpace != null}">
                <div th:each="roomName : ${minRoomSpace.keySet()}">
                    <label th:for="${'id__' + roomName}" th:text="${roomName + ':'}"/>
                    <input type="text" th:name="${'minRoomSpace__' + roomName}" th:id="${'id__' + roomName}" th:value="${(minRoomSpace.keySet().contains(roomName))? minRoomSpace.get(roomName) : '1'}">
                    <input type="hidden" th:name="${'minRoomSpace__' + roomName}" value="False">
                </div>
            </div>
            <label for="nr">New option:</label>
            <input type="text" id="nr" name="newRoom">
            <input id="addRoom" type="submit" value="Add option" class="btn btn-primary">
        </fieldset><br>

        <fieldset>
            <legend>Transport distance:</legend>
            <div th:if="${transportDistance != null}">
                <div th:each="transportName : ${transportDistance.keySet()}">
                    <label th:for="${'id__' + transportName}" th:text="${transportName + ':'}"/>
                    <input type="text" th:name="${'transportDistance__' + transportName}" th:id="${'id__' + transportName}" th:value="${(transportDistance.keySet().contains(transportName))? transportDistance.get(transportName) : '1'}">
                    <input type="hidden" th:name="${'transportDistance__' + transportName}" value="False">
                </div>
            </div>
            <label for="nt">New option:</label>
            <input type="text" id="nt" name="newTransport">
            <input id="addTransport" type="submit" value="Add option" class="btn btn-primary">
        </fieldset><br>
        <input id="submitButton" type="submit" value="Search" class="btn btn-primary">
    </form>

    <h3 class="text-center">Search results</h3>

    <table class="table table-bordered table-warning">
        <thead class="thead-dark">
        <tr>
            <th scope="col"> Offered by</th>
            <th scope="col"> Contract Type</th>
            <th scope="col"> Estate type</th>
            <th scope="col"> Starting price</th>
            <th scope="col"> Location</th>
            <th scope="col"> Transport (min)</th>
            <th scope="col"> Commodities (presence)</th>
            <th scope="col"> Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="offer : ${offers}" th:object="${offer}">
            <td>
                <a th:href="'/client?clientId=' + ${offer.getOfferedBy().getId()}">
                    <span th:text="${offer.getOfferedBy().getClientName()}"> </span>
                </a>
            </td>
            <td>
                <span th:text="${offer.getContractType()}"> </span>
            </td>
            <td>
                <span th:text="${offer.getEstateType()}"> </span>
            </td>
            <td>
                <span th:text="${offer.getStartingPrice()}"> </span>
            </td>
            <td>
                <span th:text="${offer.getLocation()}"> </span>
            </td>
            <td>
                <span th:text="${conversionService.explainIntMap(conversionService.getMap(offer.getTransport()))}"> </span>
            </td>
            <td>
                <span th:text="${conversionService.explainBoolMap(conversionService.getMap(offer.getCommodities()))}"> </span>
            </td>
            <td>
                <form method="get" action="/offer">
                    <input type="hidden" name="offerId" th:value="${offer.getId()}">
                    <button id="openOfferButton" type="submit" class="btn btn-secondary">Open</button>
                </form>
            </td>
        </tr>

        </tbody>
    </table>
</div>

<div th:replace="general :: site-script"></div>

</body>
</html>